
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<MatPortalHost></MatPortalHost>

<MudDialogProvider />
<MudThemeProvider />
<MudSnackbarProvider />
<MudThemeProvider Theme="MyCustomTheme" />
    @code{
        MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = "#e0292f",
                Secondary = "#e0292f",
                AppbarBackground = Colors.Red.Default,
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidth = "260px"
            }
        };
    }
