@page "/ResetPassword"

@using Identification.Server.Services
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Logging
@using System
@using System.Threading
@using System.ComponentModel.DataAnnotations

@*@implements IDisposable*@


@inject IOptions<ReCAPTCHASettings> GoogleReCAPT
@inject HttpClient Http
@inject ISnackbar Snackbar
@inject IWebHostEnvironment _env
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStore
@inject IDialogService DialogService


<div class="container d-flex justify-content-center">
    <div class="bg-white text-center p-5 mt-3 center">
        <h3>Сброс пароля</h3>
        <p>Введите ваш ИНН и код, после этого на номер, <br /> указанный при получении кредита или депозита <br /> придет смс с новым паролем.</p>
        <MudForm @ref="form" @bind-IsValid="@Success">
            <MudTextField T="string" @bind-Value="Inn" MaxLength="14" Variant="Variant.Outlined" Label="Инн" HelperText="14 цифр" Required="true" RequiredError="Введите ИНН!" />
            <MudSelect T="string" @bind-Value="TypeCode"
                       Variant="Variant.Outlined"
                       Required="true"
                       RequiredError="Выберите тип кода!"
                       HelperText="Выберите из списка код кредита или депозита">
                <MudSelectItem Value="@("Кредит")" />
                <MudSelectItem Value="@("Депозит")" />
            </MudSelect>
            @if (TypeCode == "Кредит")
            {

                <MudTextField T="string" @bind-Value="CodeNumber"
                              Variant="Variant.Outlined"
                              Label="Код кредита"
                              HelperText="Пример: 10011111" />
            }
            @if (TypeCode == "Депозит")
            {
                <MudTextField T="string" @bind-Value="CodeNumber"
                              Variant="Variant.Outlined"
                              Adornment="Adornment.Start"
                              AdornmentText="d"
                              Label="Код депозита"
                              HelperText="Пример: 10011111" />
            }
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!Success)" OnClick="SubmitAsync">Далее</MudButton>
        </MudForm>

    </div>
</div>